h1.titulo{
    text-align: right;
    color: rgb(16, 16, 149);
    font-size: 50px;
    font-weight: 50px;
}
body{
    background-color: rgb(240, 255, 197);
}
img.fiore{
  float: left;
}
h2.fiore{
    background-color: rgb(12, 49, 6);
  color: white;
}
h2.croce{
    background-color:  rgb(12, 49, 6);
  color: white;
}
h2.novella{
    background-color: rgb(12, 49, 6);
  color: white;
}
p.mclibre{
    text-align: center;
    background-color: white;
}
p.centrado{
    text-align: center;
}
img.derecha{
    float: right;
}